# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Database
*.db

# Uploads (optional but recommended)
uploads/

# OS files
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log

# CAS Storage
cas_storage/

# Environment
.env

# Alembic
alembic/versions/

workplan.json