# ======================
# 🐍 Python Backend
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Database
*.db
*.sqlite3

# Uploads (important - files stored here)
uploads/

# Logs
*.log

# Environment variables (VERY IMPORTANT 🔐)
.env

# ======================
# ⚙️ IDE / OS
# ======================
.DS_Store
.vscode/
.idea/

# ======================
# 🌐 Frontend (Vue)
# ======================
node_modules/
dist/

# ======================
# Misc
# ======================
*.swp

work.json

error.txt
final.json
fix.json
ui_update.json
code.json
